:root {
  --bg: #e7e8eaf3;
  --card-bg: #c0c0c0;
  --text: #222;
  --label: #3b3b3b;
  --accent: #581908;
  --history-bg: #E2AEDD;
}

body.dark {
  --bg: #121212;
  --card-bg: #383838;
  --text: #f5f5f5;
  --label: #d1d1d1;
  --accent: #8f9bff;
    --history-bg: #707070;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: "Segoe UI", sans-serif;
  transition: background 0.3s, color 0.3s;
}

.title {
  text-align: center;
  padding: 20px;
  position: relative;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#clock{
  width: 30px;
  height: 30px;
}
#age-icon {
  width: 40px;
  height: 40px;
}
#para1 {
  text-align: center;
  margin-top: -10px;
  color: var(--label);
}
.dark-toggle {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  align-items: center;
  position: relative;
}

.inner {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.input-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  color: var(--label);
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.calBtn {
  text-align: center;
  margin-top: 20px;
}

button {
  background: var(--accent);
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.result {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background: var(--card-bg);
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  opacity: 0;
  animation: fadeUp 0.5s ease forwards;
}
.card:nth-child(1) {
  animation-delay: 0.1s;
}
.card:nth-child(2) {
  animation-delay: 0.2s;
}
.card:nth-child(3) {
  animation-delay: 0.3s;
}
.card:nth-child(4) {
  animation-delay: 0.4s;
}
.card:nth-child(5) {
  animation-delay: 0.5s;
}
.card:nth-child(6) {
  animation-delay: 0.6s;
}
.card:nth-child(7) {
  animation-delay: 0.7s;
}
.card:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.236);
}

.label {
  display: block;
  font-size: 14px;
  color: var(--label);
}

.value {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
}
.history {
  margin-top: 40px;
  background-color: var(--history-bg);
  padding: 20px;
  border-radius: 12px;
  opacity: 0;
}

.history h2 {
  margin-bottom: 10px;
}

.history ul {
  padding-left: 18px;
}

.history li {
  margin-bottom: 8px;
  color: var(--text);
}
.history li span {
  color: var(--accent);
  font-weight: bold;
}
.history{
  animation: fadeUp 0.5s ease forwards;
  animation-delay: 0.9s;
}
.history li {
  animation: fadeUp 0.5s ease forwards;
  animation-delay: 0.4s;
}

@keyframes fadeUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 375px) {
  .inner {
    flex-direction: column;
  }
  .title {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: small;
  }
}